<div class="span1 small btn disabled" onclick="Paginator.jumpToPage({{ pages }})" title="Page Jump">Page {{ page }} of {{ pages }}</div>
<div class="span8 pagination-centered">
    <ul>
        <li><a href="?page=1" title="First Page">&laquo;</a></li>
        {% for num in page_numbers %}
          {% ifequal num page %}
          <li class="active"><a href="#" title="Current Page">{{ num }}</a></li>
          {% else %}
        <li><a href="?page={{ num }}" title="Page {{ num }}">{{ num }}</a></li>
          {% endifequal %}
        {% endfor %}
        <li><a href="?page={{ pages }}" title="Last Page">&raquo;</a></li>
    </ul>
</div>
