{% extends "forum/base.html" %}{% load forum_tags %}{% load humanize %}
{% block extrahead %}
{{ block.super }}
{% if is_paginated %}<script type="text/javascript" src="{{ STATIC_URL }}forum/js/Paginator.js"></script>{% endif %}
{% endblock %}
{% block main_content %}

<div class="row well">
    <h2><span class="title">{{ forum.name }}</span></h2>
    {% if forum.description %}
    <h3>{{ forum.description }}</h3>
    {% endif %}
    <div class="btn-group pull-left">
    {% if not meta %}
        <a href=""></a>
    {% endif %}
    </div>
</div>

{% block context_buttonbar %}
{% if user.is_authenticated %}
<div class="row well">
    <div class="btn-group pull-right">
      <a href="{% url forum_add_topic forum.id %}" class="btn btn-primary btn-mini">Add Topic</a>
    </div>
</div>
{% endif %}
{% endblock %}

{% block paginate_header %}
{% if is_paginated %}
<div class="row well">
<div class="pagination">{% paginator "Topic" %}</div>
</div>
{% endif %}
{% endblock %}

<div class="row">
{% if topic_list or pinned_topics %}
<table class="table table-bordered table-rounded table-striped">
<col width="1">
<col width="60%">
<col>
<col width="1">
{% if redis %}<col width="1">{% endif %}
<col width="15%">
<thead>
  <tr>
    <th>&nbsp;</th>
    <th>Topic</th>
    <th>Started By</th>
    <th>Posts</th>
    {% if redis %}<th>Views</th>{% endif %}
    <th>Last Post</th>
  </tr>
</thead>
<tbody>
{% if pinned_topics %}
{% for topic in pinned_topics %}
  <tr class="{% if topic.hidden %} hidden-topic{% endif %}">
    <td>{{ topic|topic_status_image }}</td>
    <td>
        {% if topic.hidden %}<i class="icon-remove-sign"></i> {% endif %}
        {% if topic.locked %}<i class="icon-lock"></i> {% endif %}
        {% if topic|has_new_posts %}<a href="{% url forum_redirect_to_unread_post topic.id %}" class="unread"><i class="icon-plus-sign"></i></a>{% endif %}
      Pinned: <a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a> {{ topic|topic_pagination:posts_per_page }}
      {% if topic.description %}<p class="description">{{ topic.description }}</p>{% endif %}
    </td>
    <td><a href="{% url forum_user_profile topic.user_id %}">{{ topic.user_default_character }}</a></td>
    <td class="posts">{{ topic.post_count|intcomma }}</td>
    {% if redis %}<td class="views">{{ topic.view_count|intcomma }}</td>{% endif %}
    <td class="last-post">{{ topic.last_post_at|post_time:user }}<br><a href="{% url forum_redirect_to_last_post topic.id %}">Last Post</a> by <a href="{% url forum_user_profile topic.last_user_id %}">{{ topic.last_username }}</a></td>
  </tr>{% endfor %}
  <tr>
    <th colspan="5" class="forum-topics">Forum Topics</th>
  </tr>
{% endif %}
{% for topic in topic_list %}
  <tr class="topic {% cycle odd,even %}{% if topic.hidden %} hidden-topic{% endif %}">
    <td class="icon">{{ topic|topic_status_image }}</td>
    <td>
        {% if topic.hidden %}<i class="icon-remove-sign"></i> {% endif %}
        {% if topic.locked %}<i class="icon-lock"></i> {% endif %}
        {% if topic|has_new_posts %}<a href="{% url forum_redirect_to_unread_post topic.id %}" class="unread"><i class="icon-plus-sign"></i></a>{% endif %}
      <a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a> {{ topic|topic_pagination:posts_per_page }}
      {% if topic.description %}<p class="description">{{ topic.description }}</p>{% endif %}
    </td>
    <td><a href="{% url forum_user_profile topic.user_id %}">{{ topic.user_default_character }}</a></td>
    <td class="posts"><a href="{% url forum_topic_post_summary topic.id %}" class="topic-post-summary">{{ topic.post_count|intcomma }}</a></td>
    {% if redis %}<td class="views">{{ topic.view_count|intcomma }}</td>{% endif %}
    <td class="last-post">{{ topic.last_post_at|post_time:user }}<br><a href="{% url forum_redirect_to_last_post topic.id %}">Last Post</a> by <a href="{% url forum_user_profile topic.last_user_id %}">{{ topic.last_username }}</a></td>
  </tr>{% endfor %}
</tbody>
</table>
</div>
{% else %}
<div class="well span9">This Forum does not have any Topics yet.</div>
{% endif %}
</div>

{% block paginate_footer %}
{% if is_paginated %}
<div class="row well">
    <div class="pagination">{% paginator "Topic" %}</div>
</div>
{% endif %}
{% endblock %}

<div class="row well">
    {% if user.is_authenticated %}
    <div class="btn-group pull-right">
      <a href="{% url forum_add_topic forum.id %}" class="btn btn-primary btn-mini">Add Topic</a>
    </div>
    {% endif %}
</div>

{% endblock %}
