.navbar-inner {
    background-color: #5E0DAC;
    background-image: -moz-linear-gradient(top, #8D41D6, #3B0470);
    background-image: -ms-linear-gradient(top, #8D41D6, #3B0470);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8D41D6), to(#3B0470));
    background-image: -webkit-linear-gradient(top, #8D41D6, #3B0470);
    background-image: -o-linear-gradient(top, #8D41D6, #3B0470);
    background-image: linear-gradient(top, #8D41D6, #3B0470);
    background-repeat: repeat-x;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#8D41D6', endColorstr='#3B0470', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .brand:hover {
    color: #FFC700;
}
.navbar .brand {
    color: #A69C00;
}
