{% extends "corpmgr_base.html" %}

{% load i18n %}

{% block body %}
{% block content %}
<div class="well">
    <p>
    <h2>Application Requirements</h2>
    Please note each corporation has a minimum key required to evn apply.  Anything that gives at least the minimum key's level of access will be able to apply.  For reference, below are links to the required keys.
    </p>

    {% if corp_managed %}
    <div class="btn-group">
        <h3>Corporation-required Keys</h3>
            {% for corp_profile in corporation_profiles %}
            <a href="https://support.eveonline.com/api/Key/CreatePredefined/{{ corp_profile.api_mask }}" class="btn" target="_blank"><img title="{{ corp_profile.corporation.name }}" src="{{ corp_profile.corporation.get_logo_url }}"/></a>
            {% endfor %}
    </div>
    {% else %}
    <div class="btn-group">
    <a href="https://support.eveonline.com/api/Key/CreatePredefined/82321730" class="btn btn-primary" target="_blank">Pre-defined Key</a>
    </div>
    {% endif %}
</div>
<div class="well">
    <p>
    Applying as <b>{{ character.character_name }}</b>.
    </p>
    <br/>
    <form action="" method="POST">
        {% block form %}
            {% csrf_token %}

            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form }}
                {% endfor %}
            {% else %}
                {{ previous_data }}
                {{ wizard.form }}
            {% endif %}
        {% endblock %}
    </form>
</div>
{% endblock %}
{% endblock %}
