{% extends "site_base.html" %}
  {% block extra_style %}
    {{ block.super }}
  {% endblock %}
  {% block extra_head_base %}{{ block.super }}{% endblock %}

{% block body %}
<div class="row">
<ul class="breadcrumb pull-left">
{% block breadcrumbs %}{% endblock %}
</ul>
    <div class="pull-right">{% block userbar %}{% endblock %}</div>
</div>

<div id="row">
    {% block content_title %}{% endblock %}
</div>
<div id="row">
    {% block main_content %}{% endblock %}
</div>
{% endblock %}

{% block footer %}
  <a href="http://www.djangoproject.com/"><img src="{{ STATIC_URL }}forum/img/djangosite.gif" alt="A Django site." title="A Django site."></a>
{{ block.super }}
{% endblock %}

