{% extends "theme_bootstrap/base.html" %}
{% load staticfiles %}
{% load url from future %}
{% load metron_tags %}

{% block extra_style %}
<link href="{% static "css/skin.css" %}" rel="stylesheet">
<link href="{% static "css/skin-responsive.css" %}" rel="stylesheet">
{% endblock %}

        {% block topbar_base %}
            <div class="navbar {% block navbar_class %}navbar-fixed-top{% endblock %}">
                <div class="navbar-inner">
                    <div class="container">
                        {% block topbar %}
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            {% block site_brand %}<a class="brand" href="{% url "home" %}">{{ SITE_NAME }}</a>{% endblock %}
                            <div class="nav-collapse">
                                {% block nav %}
                                    {% comment %}
                                        <ul class="nav">
                                            <li><a href="#tab_one">One</a></li>
                                            <li><a href="#tab_two">Two</a></li>
                                        </ul>
                                    {% endcomment %}
                                {% endblock %}
                                {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}

{% block extra_script %}
{% analytics %}
{% endblock %}
