{% extends "eve_auth/form.html" %}

{% load i18n }

{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %} Add API Key {% endblock %}
{% block content %}
{% block button_bar %}
<div class="well">
    <p>
    <h2>API Key Requirements</h2>
    Please choose from a corporate requirement key or a minimum key.  Anything that gives at least the minimum key's level of access will be accepted..
    </p>

    {% if corp_managed %}
    <div class="btn-group">
        <h3>Corporation-required Keys</h3>
            {% for corp_profile in corporation_profiles %}
            <a href="https://support.eveonline.com/api/Key/CreatePredefined/{{ corp_profile.api_mask }}" class="btn" target="_blank"><img title="{{ corp_profile.corporation.name }}" src="{{ corp_profile.corporation.get_logo_url }}"/></a>
            {% endfor %}
    </div>
    <br/>
    <a href="https://support.eveonline.com/api/Key/CreatePredefined/{{ min_mask }}" class="btn btn-primary" target="_blank">Minimum Key</a>
    {% else %}
    <div class="btn-group">
    <a href="https://support.eveonline.com/api/Key/CreatePredefined/82321730" class="btn btn-primary" target="_blank">Pre-defined Key</a>
    </div>
    {% endif %}
</div>
{% endblock %}
{{ block.super }}
{% endblock %}

