{% extends "site_base.html" %}

{% load i18n }

{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %} API Keys {% endblock %}

{% block body %}
<h1>{{ model_verbose_name_plural }}</h1>

{% block button_bar %}
<a href="{{ add_object_url }}" class="btn primary">Add {{ model_verbose_name }}</a>
{% endblock %}

    {% block content %}
        <table class="table table-striped">
            <thead>
                {% block thead %}
                <tr>
                    <th>API ID</th><th>vCode</th><th>Date Added</th><th>Actions</th>
                </tr>
                {% endblock %}
            <tbody>
                {% for apikey in object_list %}
                <tr>
                    {% block each_tr %}
                    <td>{{ apikey.api_id }}</td><td>{{ apikey.vcode }}</td><td>{{ apikey.date_added }}</td><td><a href="{{ apikey.api_id }}/update/" class="btn btn-primary">Edit</a> <a href="{{ apikey.api_id }}/delete/" class="btn btn-danger">Delete</a></td>
                    {% endblock %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}

{% endblock %}
