{% extends "site_base.html" %}

{% load i18n }

{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %} Characters {% endblock %}

{% block body %}
<h1>{{ model_verbose_name_plural }}</h1>

{% block button_bar %}
{% if is_updating %}
<button type="button" class="btn btn-disabled" label="Update {{ model_verbose_name_plural }}" disabled="disabled">Update {{ model_verbose_name_plural }}</button>
{% else %}
<a href="/auth/characters/update/" class="btn btn-primary">Update {{ model_verbose_name_plural }}</a>
{% endif %}
{% endblock %}

    {% block content %}
        <table class="table table-striped">
            <thead>
                {% block thead %}
                <tr>
                    <th>Character Name</th><th>Corporation Name</th><th>Actions</th>
                </tr>
                {% endblock %}
            <tbody>
                {% for character in object_list %}
                <tr>
                    {% block each_tr %}
                    <td>{{ character.character_name}}</td><td><img src="{{ character.corp.get_logo_url }}"/>{{ character.corp.name}}</td><td><span class="btn btn-disabled">None</span></td>
                    {% endblock %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}

{% endblock %}
